.google-maps {
  width: 280px;
  height: 370px;
}

.div-maior-como-chegar {
  background-color: #f3f3f3;
  padding: 80px;
}

.card-como-chegar {}

.title-card-como-chegar {
  color: #F8B939;
  font-weight: 700;
}

.span-card-como-chegar {
  color: gray;
  font-weight: 500;
}

.img-card-como-chegar {
  width: 280px;
  height: 370px;
  object-fit: cover;
}

.link-span-como-chegar {
  color: #0F3386;
  cursor: pointer;
  text-decoration: none
}