.container {
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 2rem;
}

.google-maps {
  min-width: 700px;
  height: 400px;
  margin-top: 2rem;
}



.title-card-como-chegar {
  font-family: 'Mohave', sans-serif;
  color: #0B1546;
  font-weight: 600;
  font-size: 2.5rem;
}

.span-card-como-chegar {
  color: gray;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.link-span-como-chegar {
  color: #0F3386;
  cursor: pointer;
  text-decoration: none
}

.dados-mobile {
  display: none;
}

@media (max-width: 990px) {
  .google-maps {
    min-width: 600px;
    height: 600px;
    margin-top: 2rem;
  }

  .dados-mobile {
    display: flex;
    padding-top: 1rem;
    /* margin-right: 1rem; */
    column-gap: 1rem;
    justify-content: center;
  }

  .dados-mobile p {
    text-overflow: ellipsis;
    max-width: 200px;
  }
}


@media (max-width: 720px) {
  .google-maps {
    min-width: 350px;
    height: 400px;
    margin-top: 2rem;

  }

}