.container {
  text-align: center;
  padding-bottom: 2rem;
}
.google-maps {
  min-width: 900px;
  height: 600px;
  margin-top: 2rem;
}

.div-maior-como-chegar {
  background-color: #f3f3f3;
  padding: 80px;
}

.title-card-como-chegar {
   font-family:  'Mohave', sans-serif; 
  color: #0B1546;
  font-weight: 600;
  font-size: 2.5rem;
}

.span-card-como-chegar {
  color: gray;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.img-card-como-chegar {
  width: 280px;
  height: 370px;
  object-fit: cover;
}

.link-span-como-chegar {
  color: #0F3386;
  cursor: pointer;
  text-decoration: none
}