@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.container-conveniencia {
  background-color: #F9A717;
  padding: 80px;
}
.titulo-slide{
  color: #0A1744;
}
.container-slide{
  /* padding: 2rem 2rem; */
  align-items: center!important; ;
  text-align: center;
}
.titulo-sobre{
  color: #0A1744;
}

.card {
  max-width: 16rem;
  margin: 0 auto;
}

.card-body-slide {
  height: 220px; 
  color: #0A1744;
}
.slick-track {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}
.slick-slide {
  margin: 0 auto!important; /* Centraliza horizontalmente */ ;
}

@media (max-width: 990px) {

}
