.botao-inicio {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0B1546;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.botao-inicio.show {
  opacity: 1;
}
