.container-marmitaria {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 40% 60%;

}


.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
}

.link-whatsapp {
  font-size: 3.5rem;
  border: 0.5rem;
}

.link-whatsapp:hover {
  font-size: 4rem;
  cursor: pointer;
}


.imgs-marmita {
  padding: 1rem 3rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.imgs-marmita img {
  max-width: 260px;
  box-shadow: 0 0 10px black;

}