/* Estilize o elemento .capa que terá o fundo com a imagem */
.home {
    position: relative; /* Garante que o pseudo-elemento esteja posicionado corretamente */
    background: #000 url('../../images/capa-home/posto_capa.png') no-repeat center -16rem ;
    background-size: cover;
    height: 85vh;
    width: 100%;
}

/* Crie o pseudo-elemento ::before para adicionar o efeito opaco */
.home::before {
    content: ''; /* Certifique-se de adicionar algum conteúdo ao pseudo-elemento */
    position: absolute; /* Posicione o pseudo-elemento em relação ao elemento pai */
    top: 0;
    left: 0;
    width: 100%; /* Defina a largura para cobrir todo o elemento pai */
    height: 100%; /* Defina a altura para cobrir todo o elemento pai */
    background-color: rgba(0, 0, 0, 0.5); /* Adicione a cor de fundo com opacidade (0.5 representa 50% de opacidade) */
}

/* Se necessário, ajuste a posição dos elementos filhos para que eles apareçam acima do pseudo-elemento */
.homeTexto {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #F8B939;
    /* padding-top: 15px; */
    position: relative; /* Por exemplo, use a posição relativa para ajustar o conteúdo acima do pseudo-elemento */
    z-index: 1; /* Certifique-se de que o conteúdo apareça acima do pseudo-elemento (o valor pode variar dependendo do layout) */
    text-shadow: 0 0 30px white;
    padding: 4rem 0;
    
}


