.header {
  background-color: #F9A717;
}

.title-navbar {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(0deg, white, white);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: #0A1744;
  background-clip: text;
  -webkit-text-stroke: 0.3px white;
}

.logo-navbar {
  width: 200px;
}

.capa-navbar {
  object-fit: cover;
}

.item-navbar {
  padding-top: 15px;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.item-navbar:hover {
  border-bottom: solid 1px #0A1744;
  transition: 0.2s;
}

.icon-navbar {
  color: white;
  font-size: 40px;
}

.icon-navbar:hover {
  color: #0A1744;
  font-size: 40px;
  transition: 0.4s;
}

.nav-link:hover {
  color: #0A1744 !important;
  transition: 0.2s;
}