.div_servicos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.servicos {
    padding: 80px;
    flex-wrap: wrap;
}

.title-servicos {
     font-family:  'Mohave', sans-serif; 
    font-weight: 600;
    color: #0F3386;
    font-size: 40px;
    text-align: center;
}

.div-servicos-text {
    max-width: 500px;
    padding: 50px;
}

.p-servicos {
    font-size: 17px;
    font-weight: 500;
     font-family:  'Mohave', sans-serif; 
    text-align: justify;
    word-wrap: break-word;
}

.div-carousel {
    max-width: 500px;
}

.img-combustivel {
    max-width: 100%;
    max-height: 100%;
}